* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.resim{
    width: auto;
    height: auto;
    border-radius: 15%;
    text-align: center;
    line-height: normal;
    margin: auto;
    position: relative;
}
.rsm1:hover {
    filter: brightness(70%); 
    transform: scale(1.1);
}

div.tablo{
    table-layout: fixed;
    height: fixed;
    width: fixed;
    margin: auto;
    table-layout: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

td.rsm{
    background-color: #b29f91;
    border: 3mm ridge rgba(86, 43, 26, 0.6);
    border-radius: 12%;
    width: auto;
    height: auto;
    background-size: contain;
    vertical-align: middle;
}
.baslik{
    text-align: center;
    font-family:'Roboto';
    color: #627281;
    margin-top: 30px;
    margin-bottom: 30px;
}
body{
    background-color: #bfbdc0;
    table-layout: fixed;
    
}
img.rsm1{
    border-radius: 9%;
    width: 300px;
    height: 300px;
    border-image: auto #562b1a;
    vertical-align: middle;
}